Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
.deps
.libs
demo/copy
demo/echoserver
depcomp
install-sh
libtool
ltmain.sh
m4/*.m4
missing
*.lo
*.o
*.la
